.anotacoes-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.1rem;
    letter-spacing: 0.04rem;
    
}

.anotacoes-options-contanier {
    margin-top: 5%;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.anotacoes-tabela-container {
    width: 80%;
    align-self: center;
    height: 50%;
    border-radius: 5px;
}
.anotacoes-tabela-header-container {
    border-radius: 5px 5px 0 0 ;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.anotacoes-tabela-header-descricao,
.anotacoes-tabela-header-criacao,
.anotacoes-tabela-header-disciplina,
.anotacoes-tabela-header-visualizar,
.anotacoes-tabela-header-acoes
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1976d2;
    width: 15%;
    height: 110%;
    margin-right: 1px;
    padding: 7px;

}
.anotacoes-tabela-header-descricao{
    border-radius: 5px 0 0 0;
    width: 40%;
}
.anotacoes-tabela-header-acoes{
    border-radius: 0 5px 0 0;
}

.anotacoes-tabela-body-container{
    display: flex;
    flex-direction: column ;
    width: 100%;
    height: 15%;
}
.anotacoes-tabela-body-line{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 1px;
}

.anotacoes-tabela-body-descricao,
.anotacoes-tabela-body-disciplina,
.anotacoes-tabela-body-criado,
.anotacoes-tabela-body-visualizar,
.anotacoes-tabela-body-acoes
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    width: 15%;
    height: 100%;
    margin-top: 1px;
    margin-right: 1px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    padding: 7px;

}
.anotacoes-tabela-body-descricao{
    padding: 5px;
    width: 40%;
    justify-content: flex-start;
    
}
.anotacoes-tabela-body-acoes
{
    padding: 4.45px;
    justify-content: space-around;
}
.anotacoes-btn-criar-anotacao, .anotacoes-btn-dialog-close , .anotacoes-btn-dialog-submit{
margin-top: 3%;
margin-bottom: 5%;
margin-right: 2.5%;
width: 25%;
color: white;
background-color: #0f4a8d;
border-style: none;
border-radius: 5px;
font-size: 1.01rem;
cursor: pointer;
}

.anotacoes-btn-criar-anotacao{
width: 10%;
margin-top: 0%;
height: 48px;
width: 220px;
font-size: 1.1rem !important;
letter-spacing: 0.04rem !important;


}

.anotacoes-btn-criar-anotacao:hover , .anotacoes-btn-dialog-close:hover , .anotacoes-btn-dialog-submit:hover{
    transition: 0.25s;
    opacity: 90%;
}

.anotacoes-btn-dialog-close{
background-color: red;
padding: 5px;
}

.anotacoes-btn-dialog-submit{
    padding: 5px;
}


