.selectItem-container{
    display: flex;
    justify-content: space-around;
    width: 96.5%;
    height: 42%;
    border-radius: 10px;
    cursor: pointer;
}

.selectItem-container:hover{
    background-color: white;
    color: #1976d2;
    opacity: 0.95;
    transition: 0.25s;
}

.selectItem-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    /* background-color: yellowgreen; */
    
}

.selectItem-title{
    width: 75%;
    /* background-color: brown; */
    display: flex;
    justify-content: center;
    align-items: center;
}