.home-container-new-account{
    color: white;
    background-color: #1976d2;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    font-size: 1.05rem;
}
.home-form-container-new-account{
    background-color: white;
    color: #1976d2;
    border-radius: 10px;
    width: 25%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-form-header-new-account{
    width: 100%;
    height: 20%;
    color: #1976d2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.home-form-header-new-account > img{
    height: 70%;
    width: 100%;
}
.home-form-header-new-account > h2{
    height: 30%;
    width: 100%;
    text-align: center;
}

.home-form-body-new-account{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    
}

.home-form-body-input-email , .home-form-body-input-password {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.home-form-body-input-field{
    margin-top: 5px;
    height: 5vh;
    border-radius: 7px;
    border-style: none;
    padding-left: 0.5vw;
    background-color: #c4c4c4;
    font-size: 1.05rem;
}

.home-form-body-btn-create-account{
    width: 45%;
    height: 10%;
    align-self: center;
    border-radius: 7px;
    border-style: none;
    background-color: #0f4a8d;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 10px;
}

.home-form-body-btn-create-account:hover{
    transition: 0.25;
opacity: 0.95;


}

.home-span-create-account{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    
}